


<header>
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark py-0" data-anime="top"> 
            <a class="navbar-brand jaco-logo" href="/">  
                <img src="/img/logobrancopng.png" class="d-inline-block align-top logo-image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto all-links d-flex align-items-center justify-content-around m-0">
                    <li class="nav-item active" id="link-1">
                        <a class="nav-link cabecalho-links" href="/">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="link-2">
                        <a class="nav-link cabecalho-links" href="/quemSomos">Sobre</a>
                    </li>
                    <li class="nav-item" id="link-3">
                        <a class="nav-link cabecalho-links" href="/maquinas">Máquinas</a>
                    </li>
                    <li class="nav-item" id="link-4">
                        <a class="nav-link cabecalho-links" href="/obras">Obras</a>
                    </li>
                    <li class="nav-item" id="link-5">
                        <a class="nav-link cabecalho-links" href="/seminovos">Seminovos</a>
                    </li>
                    <li class="nav-item" id="link-6">
                        <a class="nav-link cabecalho-links" href="/contato">Contato</a>
                    </li>
                    <% if(userId){ %>
                        <li class="nav-item">
                            <p class="nav-link cabecalho-links text-center text-success" id="logadocomo">logado como: <br>admin <br><a href="/logout">deslogar</a></p>
                        </li>
                    <%}%>
                </ul>
            </div>
    
        </nav>
    </header>