
<div class="row">
       <div class="whats col-3" data-anime="right">
              <a href="https://wa.me/5548988054958" target="_blank">
                     <img src="/img/Sendusamessage.png" alt="">
              </a>
       </div>
</div>
