<% include ./partials/header %>

<body >
    <div class="container">                     
        <h1 class="text-center m-5">
            Insira suas credenciais
        </h1>
        <div class="panel-body" >
            <% if (message.length > 0) { %>
                <div class="alert alert-danger col-sm-12"><%= message %></div>
            <% } %>
            <form role="form" method="post" action="/admin">
                <% if (message.length > 0) { %>
                    <div class="alert alert-success col-sm-12"><%= message %></div>
                <% } %>   
                <div  class="input-group my-5">
                    <input id="login-username" type="text" class="form-control" name="user_name" value="" placeholder="usuario">                                       
                </div>
                <div class="input-group my-5">
                    <input type="password" class="form-control" name="password" placeholder="senha">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                </div>         
            </form>    
        </div>                    
    </div> 
</body>
    
