
    <% include ../partials/headerObras %>

    <link rel="stylesheet" href="https://raw.githubusercontent.com/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css">

    <div class="container-fluid" id="container-obras" >
        <div class="jumbotron texto-destaque" id="jumbo-obras" data-anime="bottom">
            <h1 class="display-4 text-center mt-5">Veja nossas máquinas funcionando!</h1>
        </div>
        <div class="container mb-5" data-anime="obras">
            <div id="instafeed" class="row mb-2">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center container mb-3"  data-anime="bottom">
            <p class="obras-traco mr-2">- </p><i class="fab fa-instagram icone-padrao"></i> <p class="obras-traco ml-2"> -</p>
        </div>
    </div>

    <% include ../partials/whats %>


<!-- RODAPÉ -->
<footer class="page-footer" id="rodape" data-anime="bottom">
        <div class="row d-flex justify-content-center px-5">
                    <!-- Grid row -->
                    <div class="row ">
                
                        <div class="col-md-6 d-flex justify-content-center">
                
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="text-uppercase">Encontre-nos</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="link-footer"><a href="" ><i class="fab fa-facebook icones-rodape"></i> Facebook </a></p>
                                        <p class="link-footer"><a href="" ><i class="fab fa-instagram icones-rodape"></i> Instagram </a></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="link-footer"><i class="fas fa-phone-alt  icones-rodape"></i> (48)3093-9355</p>
                                        <p class="link-footer"> <i class="fab fa-whatsapp  icones-rodape"></i> (48) 98805-4958</p>
                                    </div>
                                </div>
                                
                                
                                <p><i class="fas fa-map-marker-alt icones-rodape"></i>estamos localizados na:</p>
                                <p class="pl-5">Rua Gene Simmons .s/n floripa-sc | CEP: 88000000</p>
                            </div>
                        </div>
                
                        <div class="col-md-6 mb-md-0">
                
                            <!-- Links -->
                            <h5 class="text-uppercase">Nossos serviços</h5>
                    
                            <ul class="list-unstyled">
                                <li class="m-3">
                                    - Locação de plataforma Elevatória
                                </li>
                                <li class="m-3">
                                    - Vendas de Plataformas Elevatórias Novas
                                </li>
                                <li class="m-3">
                                    - Locação de Máquinas Pesadas
                                </li>
                                <li class="m-3">
                                    - Vendas de Usados
                                </li>
                                <li class="m-3">
                                    - Consultoria
                                </li>
                                <li class="m-3">
                                   - Assistencia Técnica
                                </li>
                            </ul>
                
                        </div>
                        <!-- Grid column -->
                        
                
                    </div>
    
            <div class="row text-center mt-5"> 
                    <hr class="regua-horizontal"></hr> 
                <div class="col-12 footer-copyright">
                        Jaco locadora © Copyright 2010- 2019 - Todos os direitos reservados
                </div>
            </div>
                
            
        </div>
    </footer>
    
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- instafeed reference -->
    <script type="text/javascript" src="js/instafeed.min.js"></script>
    <script type="text/javascript"  src="js/custom.js"></script>
    <script type="text/javascript"  src="js/magnific.min.js"></script>
    <script src="/js/animations.js"></script>
    </body>
    
    </html>